node_modules

# pnpm
pnpm-debug.log*
pnpm-error.log*
.pnpm-debug.log*

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# eslint
.eslintcache

# Visual Studio Code
.vscode/**

# macOS
.DS_Store
