name: Lint

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ci:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        node: [16.x]

    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Setup node env
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache : pnpm

      - name: Install dependencies
        run: pnpm install --immutable

      - name: Run hardhat node, deploy contracts (& generate contracts typescript output)
        run: pnpm chain & pnpm hardhat:deploy 

      - name: Run nextjs lint
        run: pnpm next:lint --max-warnings=0

      - name: Check typings on nextjs
        run: pnpm next:check-types

      - name: Run hardhat lint
        run: pnpm hardhat:lint --max-warnings=0
